tests/testdata/* binary

# Exclude everything
**/** export-ignore

# Add top-level files
bootstrap !export-ignore
BUILD !export-ignore
CMakeLists.txt !export-ignore
compiler_config_setting.bzl !export-ignore
configure !export-ignore
configure-cmake !export-ignore
configure.ac !export-ignore
CONTRIBUTING.md !export-ignore
LICENSE !export-ignore
Makefile !export-ignore
Makefile.am !export-ignore
MANIFEST.in !export-ignore
premake5.lua !export-ignore
README !export-ignore
README.md !export-ignore
setup.py !export-ignore
setup.cfg !export-ignore
WORKSPACE !export-ignore

# Add sources
c !export-ignore
c/** !export-ignore
c/common/dictionary.bin* export-ignore
c/fuzz export-ignore

# Add man pages
docs !export-ignore
docs/** !export-ignore
docs/brotli-comparison-study-2015-09-22.pdf export-ignore

# Add python bindings + tests
python !export-ignore
python/** !export-ignore

# Add more build files.
scripts !export-ignore
scripts/sources.lst !export-ignore
scripts/libbrotli*.pc.in !export-ignore

# Add testdata
tests !export-ignore
tests/*.sh !export-ignore
tests/*.cmake !export-ignore
tests/testdata !export-ignore
tests/testdata/empty !export-ignore
tests/testdata/empty.compressed !export-ignore
tests/testdata/ukkonooa !export-ignore
tests/testdata/ukkonooa.compressed !export-ignore
