include CONTRIBUTING.md
include common/*.c
include common/*.h
include dec/*.c
include dec/*.h
include dec/Makefile
include enc/*.cc
include enc/*.h
include enc/Makefile
include LICENSE
include MANIFEST.in
include python/bro.py
include python/brotlimodule.cc
include python/README.md
include README.md
include setup.py
include shared.mk
include tools/bro.cc
include tools/Makefile
include tools/version.h